*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-1 {
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 40px;
}

.section-1 .logo img {
  width: 100px;
  height: 50px;
}

.section-1 .main-1 .image-1 img {
  width: 300px;
  height: 100px;
}

.section-1 .header,
.section-1 .main-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  margin-left: 60px;
}

.section-1 .header ul {
  display: flex;
  gap: 20px;
}

ul li {
  list-style: none;
}



